/* screen - delivery-payment */

.delivery-payment {
  align-items: flex-start;
  background-image: url(../img/schedule-delivery.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  gap: 3px;
  height: 850px;
  overflow: hidden;
  width: 375px;
}

.delivery-payment .overlap-group3 {
  align-items: flex-start;
  background-color: var(--eagle-2);
  display: flex;
  height: 917px;
  min-width: 35px;
  padding: 49px 1px;
}

.delivery-payment .icon-home {
  cursor: pointer;
  height: 33px;
  object-fit: cover;
  width: 33px;
}

.delivery-payment .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  min-height: 802px;
  width: 330px;
}

.delivery-payment .title {
  height: 50px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 330px;
}

.delivery-payment .enjoy-delivery-servi {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1px;
  margin-top: 3px;
  min-height: 44px;
  width: 315px;
}

.delivery-payment .giant-perling {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 18.0px;
  margin-top: 14px;
  min-height: 38px;
  width: 292px;
}

.delivery-payment .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 23px;
  margin-left: 7.0px;
  min-width: 313px;
}

.delivery-payment .item-purple-cabbage {
  letter-spacing: 0;
  line-height: normal;
  min-height: 175px;
  width: 110px;
}

.delivery-payment .span0 {
  text-decoration: underline;
}

.delivery-payment .overlap-group4 {
  height: 201px;
  position: relative;
  width: 180px;
}

.delivery-payment .quantity-2-2-3-400-g {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 107px;
}

.delivery-payment .surname {
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  width: 79px;
}

.delivery-payment .payment-method {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 18.0px;
  margin-top: 13px;
  min-height: 38px;
  width: 292px;
}

.delivery-payment .overlap-group2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 10px;
  display: flex;
  height: 140px;
  margin-left: 7.0px;
  margin-top: 1px;
  min-width: 313px;
  padding: 9px 0;
}

.delivery-payment .image-container {
  align-self: flex-end;
  height: 119px;
  position: relative;
  width: 61px;
}

.delivery-payment .image-77 {
  height: 28px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 28px;
}

.delivery-payment .image-78 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 61px;
}

.delivery-payment .image-79 {
  height: 36px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 36px;
}

.delivery-payment .e-wallet-credit-de {
  color: var(--black);
  font-family: var(--font-family-outfit);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2px;
  margin-top: 1px;
  min-height: 115px;
  min-width: 153px;
}

.delivery-payment .ellipse-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 62px;
  margin-top: 1.0px;
  min-height: 113px;
  width: 16px;
}

.delivery-payment .ellipse-1 {
  border: 1px solid;
  border-color: var(--black);
  border-radius: 8px;
  height: 16px;
  width: 16px;
}

.delivery-payment .ellipse-2 {
  border: 1px solid;
  border-color: var(--black);
  border-radius: 8px;
  height: 16px;
  margin-top: 32px;
  width: 16px;
}

.delivery-payment .ellipse-3 {
  border: 1px solid;
  border-color: var(--black);
  border-radius: 8px;
  height: 16px;
  margin-top: 33px;
  width: 16px;
}

.delivery-payment .overlap-group1 {
  height: 70px;
  margin-left: 5.0px;
  margin-top: 7px;
  position: relative;
  width: 315px;
}

.delivery-payment .component-6 {
  align-items: flex-start;
  background-color: var(--verdun-green);
  border-radius: 10px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 234px;
  min-width: 81px;
  padding: 3px 12.4px;
  position: absolute;
  top: 35px;
}

.delivery-payment .apply {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
  text-align: center;
  width: 55px;
}

.delivery-payment .offers {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 292px;
}

.delivery-payment .rectangle-79 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--verdun-green);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 31px;
  left: 2px;
  position: absolute;
  top: 37px;
  width: 222px;
}

.delivery-payment .enter-promo-code {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.4;
  position: absolute;
  top: 41px;
  width: 132px;
}

.delivery-payment .component-5 {
  align-items: flex-start;
  background-color: var(--verdun-green);
  border-radius: 20px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-left: 22.0px;
  margin-top: 20px;
  min-width: 242px;
  padding: 3px 37px;
}

.delivery-payment .place-order {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
  text-align: center;
  width: 163px;
}

.delivery-payment .component-4 {
  align-items: flex-end;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-top: 87px;
  min-width: 203px;
}

.delivery-payment .overlap-group {
  align-items: flex-start;
  background-color: var(--verdun-green);
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  margin-bottom: -0.77px;
  min-width: 203px;
  padding: 4px 15px;
}
