/* screen - schedule-delivery */

.schedule-delivery {
  align-items: flex-start;
  background-image: url(../img/schedule-delivery.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  gap: 3px;
  overflow: hidden;
  width: 375px;
}

.schedule-delivery .overlap-group7 {
  align-items: flex-start;
  background-color: var(--eagle-2);
  display: flex;
  height: 850px;
  min-width: 35px;
  padding: 49px 1px;
}

.schedule-delivery .icon-home {
  cursor: pointer;
  height: 33px;
  object-fit: cover;
  width: 33px;
}

.schedule-delivery .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  min-height: 802px;
  width: 349px;
}

.schedule-delivery .title {
  align-self: flex-start;
  height: 50px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 330px;
}

.schedule-delivery .enjoy-delivery-servi {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 6.0px;
  margin-top: 3px;
  min-height: 44px;
  width: 315px;
}

.schedule-delivery .sche-perling-giant {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 268px;
  width: 336px;
}

.schedule-delivery .giant-perling {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 38px;
  text-decoration: underline;
  width: 292px;
}

.schedule-delivery .flex-row-3 {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-left: 1px;
  margin-top: 5px;
  min-width: 308px;
}

.schedule-delivery .place {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 53px;
}

.schedule-delivery .overlap-group {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--verdun-green);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 11px;
  height: 31px;
  min-width: 225px;
  padding: 0 10.7px;
}

.schedule-delivery .polygon {
  height: 10px;
  margin-top: 0.5px;
  width: 10px;
}

.schedule-delivery .select-a-date {
  min-height: 21px;
}

.schedule-delivery .flex-row {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-left: 1px;
  margin-top: 11px;
  min-width: 315px;
}

.schedule-delivery .time {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 53px;
}

.schedule-delivery .overlap-group-1 {
  height: 31px;
  position: relative;
  width: 232px;
}

.schedule-delivery .rectangle {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--verdun-green);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 225px;
}

.schedule-delivery .am {
  left: 182px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 50px;
}

.schedule-delivery .select-a-time {
  left: 32px;
  position: absolute;
  top: 3px;
}

.schedule-delivery .polygon-1 {
  left: 12px;
  width: 10px;
}

.schedule-delivery .polygon-2 {
  left: 165px;
  width: 9px;
}

.schedule-delivery .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-left: 1px;
  margin-top: 11px;
  min-width: 308px;
}

.schedule-delivery .address {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 73px;
}

.schedule-delivery .overlap-group-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--verdun-green);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 31px;
  min-width: 225px;
  padding: 0 31px;
}

.schedule-delivery .enter-your-address {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  opacity: 0.4;
  width: 150px;
}

.schedule-delivery .flex-row-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 6px;
  height: 27px;
  margin-left: 14.0px;
  margin-top: 11px;
  min-width: 182px;
}

.schedule-delivery .use-default-address {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 157px;
}

.schedule-delivery .show-groceries-list-for-giant-perling {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3px;
  min-height: 24px;
  text-decoration: underline;
  width: 291px;
}

.schedule-delivery .component-5 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--verdun-green);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-right: 30.0px;
  margin-top: 10px;
  min-width: 242px;
  padding: 3px 37px;
}

.schedule-delivery .go-to-payment {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
  text-align: center;
  width: 163px;
}

.schedule-delivery .sche-sg-2-lotus {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  min-height: 269px;
  width: 336px;
}

.schedule-delivery .lotus-sungai-dua {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 38px;
  text-decoration: underline;
  width: 292px;
}

.schedule-delivery .flex-row-4 {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-left: 1px;
  margin-top: 6px;
  min-width: 308px;
}

.schedule-delivery .place-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 53px;
}

.schedule-delivery .time-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 27px;
  width: 53px;
}

.schedule-delivery .am-1 {
  left: 182px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 50px;
}

.schedule-delivery .show-groceries-list {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3px;
  min-height: 24px;
  text-decoration: underline;
  width: 309px;
}

.schedule-delivery .component-6 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--verdun-green);
  border-radius: 20px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-right: 30.0px;
  margin-top: 10px;
  min-width: 242px;
  padding: 3px 37px;
}

.schedule-delivery .go-to-payment-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  text-align: center;
  width: 163px;
}

.schedule-delivery .component-4 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 41px;
  margin-right: 19px;
  margin-top: 65px;
  min-width: 203px;
}

.schedule-delivery .overlap-group6 {
  align-items: flex-start;
  background-color: var(--verdun-green);
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  margin-bottom: -0.77px;
  min-width: 203px;
  padding: 4px 15px;
}

.schedule-delivery .polygon-3 {
  height: 10px;
  position: absolute;
  top: 10px;
}

.schedule-delivery .select-a {
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.4;
  width: 132px;
}
